# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

namespace.txt
deployment/gcloud/credential.json

**/token.txt
go.sum
config/env.sh
**.DS_Store
go-dashboard
config/config_local.jsonc
.gitignore
config/config_prod.yaml
