@font-face {
    font-family: 'Rubik';
    src: url('../Rubik-Regular.ttf');
}
@font-face {
    font-family: 'Avo';
    src: url('../UTM Avo.ttf');
}

body {
    background: linear-gradient(180deg, #5BC2E7 0%, #009CDE 100%);
    width: 100%;
    height: 100vh;
    font-family: "Avo";
    color:white;
    font-weight: 500;
    font-size: 13px;
}

.container {
    float:left;
}
.item{
    color: gray;
    width:200px;
    padding:5px;
}
.item.active{
    color: green;
}
.param {
    padding:5px;
}
.value {
    padding-left: 5px;
}